* {
  padding: 0;
  border: 0;
  display: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: black;
  color: white;
  width: auto;
}
body header {
  border: 2px black solid;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}
body header section {
  align-content: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  display: flex;
  width: 300px;
}
body header section button {
  font-size: 20px;
  width: 100px;
  margin: 0px;
}
body article {
  border: 2px black solid;
  height: 10vh;
  width: 100%;
  display: none;
  justify-content: flex-start;
  align-items: space-between;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}
body article ul {
  font-size: 14px !important;
  border: 10px;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  height: auto;
  width: 80%;
  display: flex;
  text-align: center;
  list-style: none;
}
body article ul .left {
  font-size: 14px !important;
  border: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 80%;
  display: flex;
  text-align: center;
  list-style: none;
}
body article ul .left li {
  width: 40%;
  margin: 2px;
}
body main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
body main div {
  align-content: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  display: flex;
  width: 300px;
}
body main .grid-container {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
body main .grid-container .grid {
  height: 400px;
  width: 400px;
  display: none;
  flex-wrap: wrap;
  background-color: grey;
  margin-top: 20px;
  border: 10px solid #bdbdbd;
  margin-bottom: 10px;
}
body main .grid-container .valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
body main .grid-container .bomb {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
body main .grid-container .checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #bdbcb8;
  border-color: #9c998d;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
body main .grid-container .one {
  color: #e76346;
}
body main .grid-container .two {
  color: #4199d3;
}
body main .grid-container .three {
  color: #1aaf1d;
}
body main .grid-container .four {
  color: #bb41d3;
}
body main .result-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 5px;
  color: #e76346;
}

@media screen and (max-width: 1050px) {
  body {
    background-color: black;
    color: white;
    width: auto;
  }
  body header {
    font-size: 22px;
    flex-direction: column;
  }
  body header section {
    align-content: center;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
    display: flex;
    width: 250px;
    padding: 20px 20px;
  }
  body header section span {
    width: 100px;
    text-align: center;
  }
  body header section button {
    font-size: 22px;
    width: 200px;
    margin: 0px;
  }
  body main {
    height: 30vh;
  }
  body main .grid-container {
    padding-top: 10px;
  }
  body main .grid-container .grid {
    height: 300px;
    width: 300px;
    margin-top: 15px;
    border: 7px solid #bdbdbd;
    margin-bottom: 7px;
  }
  body main .grid-container .valid {
    height: 30px;
    width: 30px;
    border: 3px solid;
    font-size: 14px;
  }
  body main .grid-container .bomb {
    height: 30px;
    width: 30px;
    border: 3px solid;
  }
  body main .grid-container .checked {
    height: 30px;
    width: 30px;
    border: 2px solid;
  }
}